body{
    background-color: deeppink;
}
.padrao{
    text-align: center;
    background-color: lightgreen;
    color: deeppink;
}
.textos{
    text-align: center;
}
.center{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}